.header {
    display: block;
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
  }
  
  .nav {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(26, 24, 24);
    height: 80px;
    margin-top: 0;
  }
  
  .nav > li > a {
    color: white;
    text-decoration: none;
}

.nav > li > a:hover {
    color: red;
}

.nav > li >a.active{
    color:yellow;
    
}
  
  /* ----------------------- */
  
  .productContainer {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .products {
    width: 25%;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
  }
  
  .productDesc {
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }

  .products>img{
    width: 250px;
    height: 250px;
  }
  
  .add {
    padding: 5px;
  }
  
  .remove {
    background-color: grey;
    color: white;
  }